body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.order-container {
  background: #1c1c1c;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 15px red;
}

h2 {
  text-align: center;
  color: red;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  background: red;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  background: darkred;
}
